.info_block {
    position: relative;

    .info_mainH2 {
        margin-top: 100px;

        h2 {
            font-size: 30px;
            text-align: center;
        }
    }


    .info_block_main {
        z-index: 9999;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;


        .info_text {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                font-size: 20px;
            }

            .info_imgText_block {
                display: flex;
                align-items: center;
                margin: 10px 0;

                .info_imgText_pBlock {
                    width: 100%;

                    p {
                        text-align: center;
                        display: inline;
                    }

                }

                img {
                    height: 48px;
                    width: 48px;
                    text-align: center;
                    margin-right: 10px;
                }
            }

        }

        .info_bigImg {
            img {
                width: 300px;
            }
        }
    }

    .info_bgImg {
        z-index: 1;

        img {
            width: 46px;
        }

        .info_bgImg_1 {
            position: absolute;
            top: 0;
            left: 50px;
            object-fit: contain;
        }

        .info_bgImg_2 {
            right: 50px;
            top: 20px;
            position: absolute;
            object-fit: contain;
        }

        .info_bgImg_3 {
            right: 50%;
            bottom: 30px;
            position: absolute;
            object-fit: contain;
        }
    }
}

@media (max-width: 700px) {
    .info_block {
        .info_block_main {
            display: inline-block;
            text-align: center;
        }

        .info_text {
            padding: 5px;
        }
    }
}
@media (max-width: 300px) {
    .info_block {
        .info_text{
            width: 200px;
        } 
        .info_bigImg{
            img {
                width: 200px;
            }
        }
    }
}
