.header_menu {
    background-image: linear-gradient(to top, rgba(6, 4, 4, 0.428), rgba(61, 58, 58, 0.3)), url('../../../assets/img/headerBack.jpeg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;

}